:root {
  --primary-color: #1E3A8A;
  --secondary-color: #3B82F6;
  --highlight-color: #60A5FA;
  --background-color: #DBEAFE; /* Background */
  --accent-color: #93C5FD;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
}

.header {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px; /* Alterado para incluir espaçamento lateral */
}

.header-container {
  display: flex;
  justify-content: space-between; /* Alinhamento dos itens em ambos os lados */
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; /* Centraliza o cabeçalho */
  gap: 100px; /* Se você desejar que haja espaçamento horizontal entre os elementos */
}

.system-name {
  flex-grow: 1; /* Faz o cabeçalho se expandir para ocupar o espaço disponível */
  text-align: left; /* Centraliza o texto do título */
  font-size: 50px;
  margin: 0; /* Remove margem */
  /*font-size: 1.8rem; /* Mantém o tamanho da fonte desejado */
  color: var(--secondary-color); /* Cor do título ajustada */
}

.nav {
  display: flex;
}

.nav-link {
  margin-left: 20px; /* Mantém o espaçamento entre os links */
  /*text-decoration: none;*/
  color: var(--accent-color);
  font-size: 25px
  /*font-size: 1.2rem; /* Manter o tamanho da fonte */
}

.nav-link:hover {
  color: var(--highlight-color); /* Mantém o efeito de hover */
}

.book-list {
  display: flex;
  flex-wrap: wrap;
}

.book-card {
  background-color: var(--accent-color);
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.book-card-title {
  text-align: center; /* Centraliza o título do card */
}

h1, h2 {
  color: var(--primary-color);
}

button {
  margin: 10px;
}

.modal {
  background-color: white;
  padding: 20px;
  border: 1px solid var(--highlight-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
