:root {
  --primary-color: #261817;
  --secondary-color: #ec755b;
  --highlight-color: #825e4a;
  --background-color: #fff6ec; /* Background mantido conforme pedido */
  --accent-color: #f8e0b4;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
}

.header {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
}

.header-container {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 100px;
}

.system-name {
  margin: 0;
  font-size: 1.8rem;
  color: var(--secondary-color);
}

.nav {
  display: flex;
}

.nav-link {
  margin-left: 20px;
  text-decoration: none;
  color: var(--accent-color);
  font-size: 1.2rem;
}

.nav-link:hover {
  color: var(--highlight-color);
}

.book-list {
  display: flex;
  flex-wrap: wrap;
}

.book-card {
  background-color: var(--accent-color);
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1, h2 {
  color: var(--primary-color);
}

button {
  margin: 5px;
}

.modal {
  background-color: white;
  padding: 20px;
  border: 1px solid var(--highlight-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
